<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Date/Time</title>
</head>

<body>
    <div class="jumbotron jumbotron-fluid" style="background-color: rgb(250, 217, 222);">
        <div class="container">
            <h1 class="display-4" style="color: royalblue;">{{now}}</h1>
            <p class="lead" style="font-weight: bolder;">Here is your date and time folks. YOU. ARE. WELCOME.</p>
        </div>
    </div>
</body>

</html>