<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Book</title>
</head>

<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container" style="display: inline-block;">
            <h1 class="display-4">Welcome, {{user.first_name}}!</h1>
        </div>
        <div style="display: inline-block; text-align: right;">
            <a href="/">Log Out</a>
        </div>
    </div>
    <h1>{{book.title}}</h1>
    <h5>Added by: {{book.uploaded_by.first_name}}</h5>
    <h5>Added on: {{book.created_at}}</h5>
    <h5>Last Updated: {{book.updated_at}}</h5>
    <h5>Description: {{book.desc}}</h5>
    </h5>
    {% if user not in book.users_who_like.all %}
    <form action="/addFavorite/{{book.id}}" method="POST">
        {% csrf_token %}
        <input type="submit" value="Add to Favoirites">
    </form>
    {% else %}
    <form action="/unFavorite/{{book.id}}" method="POST">
        {% csrf_token %}
        <input type="submit" value="Remove From Favoirites">
    </form>
    {% endif %}

</body>

</html>