<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Team Yell Encounter</title>
</head>

<body>
    <h1>The Encounter</h1>
    <p>You're walking through the Galar region, and you hear gnarly guitar solos echoing through the trees. All the
        sudden a group of metal heads appears and says "MEET ME IN THE PIT, POSER."
    </p>
    <h2>What will you do?</h2>
    <a href="/the_encounter">ENTER THE PIT</a>
    <a href="/run">RUUUUUUUUUUNNNNN!!! </a>
</body>

</html>