<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>INTO THE PIT!</h1>
    <p>While gazing at the my Pokèmon,  Team Yell splurts out "Crowd surfing isn't gonna save ya!" and throws out Zizagoon.</p>
    <a href="/battle">This nerds trash, throw out KOMMO-O!!!!!!!</a>
    <a href=""></a>
</body>
</html>