<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users Page</title>
</head>
<body>
    
    <h3>{{user.first_name}} {{user.last_name}}'s Quotes:</h3>
    {% for user in user.posted_quote.all %}
    <div class="quotes" style="display: inline-block; text-align: center; vertical-align: top; padding-right: 500px;">
        <div style="width: 300px; border: 2px solid black; margin-bottom: 10px;">
            <p>{{user.author}} : {{user.quote}}</p>
        </div>
    </div>
    {% endfor %}
</body>
</html>