/* .table{ 
    width: 300px;
}  */
h1{
    color: darkred;
}
/* .row{
    justify-content: center;
}
.container{
    margin-left: 650px;
}

.form{
    margin-left: 60px;
}
.adddung{
    display: inline-block;
} */