<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Secrets</title>
</head>
<body>
    <h1>Tell me a Secret NOW!</h1>
    <form action="/tell_secret" method="POST"> <!-- where all the stuff goes... also this lie always needs a method and an action-->
        Secret: <input type="text" name="secret"> <!--secret = whatever the user fills out here-->
        <input type="submit" value="Tell Secret" >
    </form>
</body>
</html>